/* Geolocation */
.CurrentWeatherButton {
    background-color: #28a745;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #ffff;
    font-weight: 600;
    font-size: 20px;
    padding: 6px 12px;
    margin-left: 5px;
    height: 45px;
    margin-top: 15px;
}